<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carso">
    <div class="carousel-item active ">
      <img src="https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FkZ2V0fGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://netstorage-legit.akamaized.net/images/39e6797b9fda167b.jpg?imwidth=900" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.architecturaldigest.in/photos/60084fc951daf9662c149bb9/master/pass/how-to-clean-gadgets-1366x768.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- cards -->
<div class="card-group">
  <div class="card p-3">
    <img src="http://p.ipricegroup.com/uploaded_675cb70f407cfe222e4906fb794349a0.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ASUS VivoBook 15 (2022) Core i3 10th Gen</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Rs 35990</small>
    </div>
  </div>
  <div class="card p-3">
    <img src="https://media.s-bol.com/mYnJWmzRKXxA/550x427.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lenovo IdeaPad 3 Core i3 10th Gen</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Rs 33490</small>
    </div>
  </div>
  <div class="card p-3">
    <img src="https://m.media-amazon.com/images/I/71rz2vcjv-S._AC_SL1500_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ASUS TUF Gaming F15 Core i5 10th Gen</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">Rs 56990</small>
    </div>
  </div>
</div>
